<a href="https://colab.research.google.com/github/Vrushali9-collab/statsmodels-linear-regression/blob/main/Splitingdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [23]:
#importing dataset
data=pd.read_csv('/content/personality test.csv')

In [24]:
data.head()

   Self Awareness  Empathy  ...  Altruistic Behaviour  Total Score
0               5       10  ...                     6           48
1               5       10  ...                     6           50
2               5        9  ...                     5           48
3               5       10  ...                     6           50
4               5        3  ...                     6           43

[5 rows x 11 columns]

In [25]:
len(data)

300

In [26]:
from sklearn.model_selection import train_test_split
train,test= train_test_split(data,test_size=0.15,random_state=42)

In [30]:
len(train)

255

In [31]:
len(test)

45

In [33]:
train.head()

     A (Self Awareness)  B (Empathy)  ...  J (Altruistic Behaviour)  Total Score
63                    5           15  ...                         4           73
234                   5            9  ...                         5           67
229                   5           10  ...                         5           58
111                   5           15  ...                        11          100
231                   5           12  ...                         4           60

[5 rows x 11 columns]

In [34]:
test.head()

     A (Self Awareness)  B (Empathy)  ...  J (Altruistic Behaviour)  Total Score
203                   5           15  ...                        11          102
266                   5           13  ...                         5           74
152                   5            9  ...                         4           47
9                     5            3  ...                         3           40
233                   5            8  ...                         4           60

[5 rows x 11 columns]

In [35]:
train2,val=train_test_split(train,test_size=0.15,random_state=42)

In [36]:
len(train2)

216

In [37]:
len(val)

39

In [39]:
len(test)

45

In [40]:
val.head()

     A (Self Awareness)  B (Empathy)  ...  J (Altruistic Behaviour)  Total Score
14                    5           10  ...                         6           50
144                   5            3  ...                         4           40
139                   5            8  ...                         4           50
105                   5           12  ...                         6           78
12                    5           10  ...                         6           50

[5 rows x 11 columns]

In [42]:
y=data['Total Score']
y

0      48
1      50
2      48
3      50
4      43
       ..
295    50
296    48
297    50
298    43
299    50
Name: Total Score, Length: 300, dtype: int64

In [43]:
len(y)

300

In [ ]:
len(data)

300

In [44]:
x=data.drop(columns="Empathy")

In [45]:
x.head()

   Self Awareness  Self Motivation  ...  Altruistic Behaviour  Total Score
0               5                3  ...                     6           48
1               5                7  ...                     6           50
2               5                7  ...                     5           48
3               5                7  ...                     6           50
4               5                7  ...                     6           43

[5 rows x 10 columns]

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=42)

In [47]:
len(x_train)

255

In [48]:
len(y_train)

255

In [49]:
len(x_test)

45

In [50]:
len(y_test)

45